# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv*/
env/


# macOS specific files
.DS_Store

# Log files
*.log

# Node modules
node_modules/
.sample_music/
build/
dist/
