altgraph==0.17.4
certifi==2024.8.30
charset-normalizer==3.4.0
discogs-client==2.3.0
idna==3.10
macholib==1.16.3
mutagen==1.47.0
oauthlib==3.2.2
packaging==24.2
pillow==11.0.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
requests==2.32.3
setuptools==75.6.0
six==1.16.0
urllib3==2.2.3
